[submodule "submodules/tinker-cookbook"]
	path = submodules/tinker-cookbook
	url = https://github.com/thinking-machines-lab/tinker-cookbook.git
[submodule "submodules/SkyRL"]
	path = server/submodules/SkyRL
	url = https://github.com/NovaSky-AI/SkyRL.git
